body{
	overflow:hidden;
}

#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ffffff;
z-index: 100000;
}
#status {
width: 204px;
height: 204px;
position: absolute;
left: 50%;
top: 50%;
background-image: url("../images/preloader.gif");
background-repeat: no-repeat;
background-position: center;
margin: -102px 0 0 -102px;
}